<div class="modal">
  <div class="modal-header">
    {{unbound name}}
  </div>
  <div class="modal-body">
    Are you sure you want to delete this?
  </div>
  <div class="modal-footer">
    <button {{action confirm}}>Yes delete this</button>
    <button {{action close}}>Cancel</button>
  </div>
</div>
